html {
  height: 100%;
  width: 100%;
}
  
body {
  background-color: indianred;
  padding-bottom: 5px;
}
h1 {
  font-family: cursive;
}
p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
div {
  margin: 5px;
  border: 5px;
} 
.main{
  display: block;
  flex-direction: column;
  margin: 10px;
}
/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar{
  background-color: aliceblue;
  border-style: solid;
  border-color: crimson;
  display: flex;
  justify-content: space-evenly

}
.navbar ul {
  list-style: none;
}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  margin: 10px;
}


/* Style rule set for individual li link */
.navbar ul li a {
  font-family: Arial;
  color:black;
  font-size: 16px;
  text-decoration: none;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  font-weight: bold;
  color: blue;
}

/* Part 2: Flexbox */

/* General style rule set for flex container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  gap: 20px;
}


/* Style rules for flex-item 1 */
.item1:nth-of-type(1), .item2:nth-of-type(2), .item3:nth-of-type(3){
  width: 250px;
  height: fit-content;
  padding: 5px;
}
.item1:nth-of-type(1) {
  border-style: dashed;
  text-align: center;
}

/* Style rules for flex-item 2 */
.item2:nth-of-type(2) {
  border-color: lightcoral;
  border-style: groove;
}

/* Style rules for flex-item 3 */
.item3:nth-of-type(3) {
  border-color: salmon;
  border-style:inset;
}

/* Style set for all flex-items */
.flex-item {
  background: white;
  color: black;
  font-weight: bold;
  text-align: center;
}
.head1{
  padding: 15px;
  border-radius: 10%;
  border-style: dashed;
  border-color: brown;
  text-align: center;
}
.head2{
  display: flex;
  justify-content:space-evenly;
}  
.photo1 ,.photo2{
  height: 250px;
  width: 300px;
}
.photo2{
  width: 246px;
  height: 180px;
}
.subhead{
  border: 5px;
  border-style:ridge;
  border-color: indianred;
  background-color:tomato;
  padding:10px
}
#info{
  color: lightgray;
}
#data{
  list-style:square;
}
button:hover,
button:visited {
  color: red;
  background-color: aquamarine;
}

/* Add style to button */
#theme-button {
  border-radius: 30%;
  background-color: bisque;
  border-style: ridge;
  border-color:cornsilk
}
#theme-button:hover{
  background-color: darkgray;
  color: white;
}

/* Customize Dark Mode Theme */
.dark-mode {
  background-color: black;
  color: white;
  border-color: aqua;
}

.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100;
  padding-bottom: 50px;
}
.petition-para{
  width: 55%;
  padding-right: 10px;
}
.signatures{
  width: 45%;
  padding-right: 10px;
}

/* Add to CSS file */
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}
/*unit 8*/
.revealable{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.action{
  transform: translateY(0px);
  opacity: 1;
}