html {
  height: 100%;
  width: 100%;
}
  
body {
  background-color: indianred;
}
h1 {
  font-family: cursive;
}
p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
div {
  margin: 5px;
  border: 5px;
} 
.head1{
  padding: 15px;
  border-radius: 10%;
  border-style: dashed;
  border-color: brown;
  text-align: center;
}
.head2{
  display: flex;
  justify-content:space-evenly;

}  
.photo1 {
  height: 250px;
  width: 300px;
}

#info{
  color: lightgray;
}
#data{
  list-style:square;
}
button:hover,
button:visited {
  color: red;
  background-color: aquamarine;
}
a:visited{
  background-color: blueviolet;
}

